@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    user-select: none;
}
:root {
    --main-color: #007AFF;
    --light-gray: #F5F5F7;
    --dark-gray: #4A4A4A;
    --white-color: #fff;
    --black-color: #000;
    --main-transition: 300ms;
}
.btn-shape {
    border: none;
    outline: none;
    padding: 4px 24px;
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
    transition: var(--main-transition);
    font-weight: 500;
}
.btn-shape:hover {
    background-color: #0056b3;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    min-height: 60px;
}
header .container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .user {
    display: flex;
    align-items: center;
}
header .image {
    width: 40px;
    height: 40px;
    background-color: var(--light-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
header .image i {
    font-size: 18px;
    color: var(--dark-gray);
}
header .text {
    font-size: 18px;
    font-weight: 500;
}
header .text span {
    color: var(--main-color);
}
section {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty {
    width: 325px;
}
.empty .image {
    width: 100%;
}
.empty .image img {
    width: 100%;
}
.empty .text {
    font-size: 14px;
    color: var(--dark-gray);
    font-weight: 500;
    text-align: center;
}